<footer class="site-footer">
  Footer
  <hr>
  {{ Form.open() }}
    {{ Form.text('username') }}
  {{ Form.close() }}
</footer>
<form action="http://dk.test/" method="POST" accept-charset="UTF-8"><input type="hidden" id="_themosisnonce" name="_themosisnonce" value="60f70e06b3" /><input type="hidden" name="_wp_http_referer" value="/" /> <input type="text" name="username"> </form>