<footer class="site-footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <hr>
        <p>Chemin de l’Argillière, 1 | CH 1260 Nyon — <a href="mailto:hello@dimitrikas.ch">hello@dimitrikas.ch</a></p>
      </div>
    </div>
  </div>
</footer>