@charset 'utf-8';

.site-header {
  margin: 2em 0;

  a:hover {
    text-decoration: none;
  }

  h1 {
    font-size: 2em;
    text-decoration: none;
    color: $primary;
    margin: 0.5em 0;
  }

  h2 {
    font-size: 1.15em;
    color: $primary;
    font-weight: 400;

    &:after,
    &:before {
      content: '—';
      color: $black;
      margin: 0.5em;
    }
  }
}