<header class="site-header">
  <div class="container text-center">
    <a href="#"><img src="../images/logo.png"></a>
    <a href="#"><h1>Dimitri Kas</h1></a> 
    <h2>rédacteur web seo print</h2>
  </div>
</header>