<div class="site-wrapper">
  <div class="top-content">
    {% include "organisms::header/header.twig" %}
    {% include "organisms::navigation/navigation.twig" %}
    <main class="site-main pt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-md-8 col-lg-8 lead">
            <p>Vous cherchez les mots justes pour bien communiquer ? Vos écrits ne vous donnent pas entière satisfaction ? <br>Vous voulez atteindre vos objectifs avec des textes percutants ? </p>
            <p>Détendez-vous, vous êtes au bon endroit !</p>
          </div>
          <div class="col-8 offset-2 col-sm-5 offset-sm-0 col-md-4 col-lg-3 offset-lg-1 text-center text-md-right mt-3 mt-md-0">
            {% include "atoms::badge/badge.twig" %}
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 offset-md-2">
            <hr class="mt-5">
            <p class="my-1">Ce site n’utilise pas de cookies... mais on peut quand même discuter de 
              votre projet autour d’un breuvage et de quelques gourmandises</p>
          </div>
        </div>
      </div>
    </main>
  </div>
  {% include "organisms::footer/footer.twig" %}
</div>
