{% include "organisms::header/header.twig" %}
{% include "organisms::navigation/navigation.twig" %}
<main class="site-main py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>Vous cherchez les mots justes pour bien communiquer ? Vos écrits ne vous donnent pas entière satisfaction ? <br>Vous voulez atteindre vos objectifs avec des textes percutants ? </p>
        <p>Détendez-vous, vous êtes au bon endroit !</p>
      </div>
      <div class="col-md-4">
        {% include "atoms::badge/badge.twig" %}
      </div>
    </div>
  </div>
</main>
{% include "organisms::footer/footer.twig" %}
