<nav class="nav-links">       
  <a class="page-numbers" href="http://dk.test/blog/">
    <span class="number">1</span>
  </a>
  <a class="page-numbers" href="http://dk.test/blog/page/2/">
    <span class="number">2</span>
  </a>
  <span aria-current="page" class="page-numbers current">
    <span class="number">3</span>
  </span>
  <a class="page-numbers" href="http://dk.test/blog/page/4/">
    <span class="number">4</span>
  </a>
  <a class="page-numbers" href="http://dk.test/blog/page/5/">
    <span class="number">5</span>
  </a>
</nav>