<div class="site-wrapper">
  <div class="top-content">
    {% include "organisms::header/header.twig" %}
    {% include "organisms::navigation/navigation.twig" %}
    <main class="site-main pt-5">
      <div class="container">
        <div class="row d-flex flex-column-reverse flex-sm-row">
          <div class="col-6 offset-3 offset-sm-0 col-sm-4 col-md-3 col-lg-3 mb-4 md-sm-0">
            <div class="stamp-container">
              <div class="stamp stamp-outline long-text">
                <div class="content">
                  <p>
                    Formateur d’adultes en
                    Rédaction web<br>
                    ---<br>
                    CADschool
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 col-md-9 col-lg-7">
            <img class="float-left w-50 img-fluid" src="https://via.placeholder.com/600x300">
            <h2>Communiquer de manière efficace. Trouver les mots justes.</h2>
            <p>Mes années d’expériences rédactionnelles m’aménent à un constat : le texte est un élément fondamental d’une communication réussie !   </p>
            <h3>Ecrire, une vocation </h3>
            <p>Depuis mon cursus universitaire, je me suis toujours intéressé à l’écriture. De la nouvelle au roman, en passant par un essai de philosophie politique publié chez l’Harmattan, j’ai developpé une aptitude à créer des contenus riches sur des thématiques variées. </p>
            <h3>Rédiger pour les entreprises </h3>
            <p>Cette compétence m’a permis de décrocher des mandats de rédaction pour différents types de clients : monde associatif, secteur bancaire, organismes institutionnels, PME, start-ups, entrepreneurs, indépendants... La capacité de pouvoir rédiger pour des milieux hétéroclites constitue ma force de frappe rédactionnelle !</p>
          </div>
        </div>
      </div>
    </main>
  </div>
  {% include "organisms::footer/footer.twig" %}
</div>
