<div class="d-md-none text-center my-2">
  <a class="btn btn-primary d-md-none toggle-navigation" data-toggle="collapse" href="#main-nav" role="button" aria-expanded="false" aria-controls="main-nav">
    Menu
  </a>
</div>
<nav class="main-nav" id="main-nav">
  <div class="content">
    <div class="menu-primary-container">
      <ul id="menu-primary" class="menu">
        <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-58"><a href="http://dk.test/">Accueil</a></li>
        <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"><a href="http://dk.test/portrait/">Portrait</a></li>
        <li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="http://dk.test/prestations/">Prestations</a></li>
        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-63"><a href="http://dk.test/realisations/">Réalisations</a></li>
        <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="http://dk.test/blog/">Blog</a></li>
        <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="http://dk.test/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>