<div class="d-md-none text-center my-2">
  <a class="btn btn-primary d-md-none toggle-navigation" data-toggle="collapse" href="#main-nav" role="button" aria-expanded="false" aria-controls="main-nav">
    Menu
  </a>
</div>
<nav class="main-nav" id="main-nav">
  <div class="content">
    <a href="#">Accueil</a>
    <a href="#">Portrait</a>
    <a href="#">Prestations</a>
    <a href="#">Réalisations</a>
    <a href="#">Blog</a>
    <a href="#">Contact</a>
  </div>
</nav>
