<nav class="main-nav">
  <div class="container text-center">
    <a href="#">Portrait</a>
    <a href="#">Prestations</a>
    <a href="#">Réalisations</a>
    <a href="#">Blog</a>
    <a href="#">Contact</a>
  </div>
</nav>