{% extends 'layouts/main.twig' %}

{% block main %}
	<div class="container">
		<div class="row">
			{% if clients %}
				<div class="d-flex row align-items-center">
					{% for client in clients %}
						<div class="col-6 col-sm-4 col-md-3 col-lg-2">
							<figure class="text-center">
								{{ fn('wp_get_attachment_image', client.picture, 'thumbnail', false, {'class': 'mb-1'})|raw }}
							</figure>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}