{% extends 'layouts/main.twig' %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3 d-flex flex-row align-items-center">
				<div class="lead">
					{{ post.post_content|raw }}
				</div>
				<div class="img-badge">
					<img class="img-full" src="{{ templateUri }}/build/svg/dk_badge.svg" alt="vos écrits sont sur le point de prendre un tournant décisif">
				</div>
			</div>
		</div>
	</div>
{% endblock %}